﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SGQ.Presentation.Site.Models.Autenticacao.LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
    var returnUrl = @Context.Request.Query["returnurl"];
}


<div class="offset-md-3 col-md-6">

    @foreach (var item in this.ViewData.ModelState.Values.Where(x => x.ValidationState == ModelValidationState.Invalid))
    {
        <div class="alert alert-danger"> <strong> Atenção:  </strong>  @item.Errors[0].ErrorMessage </div>
    }

    <div class="card mt-5">
        <form asp-action="LoginPostAsync" asp-controller="Autenticacao" asp-area="Seguranca" method="post" asp-route-returnurl="@returnUrl">
            <div class="card-header">
                Informe o usuário e senha para efetuar o login
            </div>
            <div class="card-body">

                <div class="form-group">
                    <label asp-for="Login"></label>
                    <input asp-for="Login" class="form-control" />
                    <span asp-validation-for="Login" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" type="password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Login</button>
            </div>

        </form>
    </div>



</div>