﻿@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using Microsoft.CodeAnalysis
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SGQ.Crosscutting.Identity.Models.AppUser

@{
    ViewData["Title"] = "Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="display-4">Perfil</h1>
<p>Perfil do usuário logado.</p>
<div class="offset-md-3 col-md-6">
    <div class="card mt-3 p-5">
        <div class="card-body">
            <h5 class="card-title">@User.Identity.Name</h5>
            <p class="card-text"> Usuário logado no sistema. </p>
            
            <div class="form-group">
                <label for="token">Token para acessar as API's</label>
                <input name="token" type="text" class="form-control disabled" readonly="true" value="@ViewBag.token" />
            </div>
            <a asp-area="Seguranca" asp-controller="Autenticacao" asp-action="Logout" class="btn btn-primary">Logout</a>
        </div>
    </div>
</div>