﻿@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SGQ.Presentation.Site.Areas.Processos.Models.PerguntaViewModel

@{
    ViewData["Title"] = "Criar";
    Layout = "_Layout";
    var action = Model.codigo is null ? "Criar" : "Alterar";
}

<h1 class="display-4">Pergunta</h1>
<p>Atividade referente ao processo @Model.processo</p>

<partial name="_messages" />

<div class="card">
    <div class="card-body">
        <form action="/Processos/Pergunta/@action" method="post">

            <div class="form-group">
                <label asp-for="codigo"></label>
                <input asp-for="codigo" class="form-control" readonly="readonly" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="pergunta"></label>
                <input asp-for="pergunta" class="form-control" />
                <span asp-validation-for="pergunta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="resposta_esperada"></label>
                <input asp-for="resposta_esperada" class="form-control" />
                <span asp-validation-for="resposta_esperada" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="estadoregistro" />

            <input type="hidden" asp-for="processo" />

            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>
</div>