﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SGQ.Presentation.Site.Areas.Processos.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SGQ.Presentation.Site.Areas.Processos.Models.AtividadeViewModel

@{
    ViewData["Title"] = "Criar";
    Layout = "_Layout";
    var action = Model.codigo is null ? "Criar" : "Alterar";
}

<h1 class="display-4">Atividade</h1>
<p>Atividade referente ao processo @Model.processo</p>

<partial name="_messages" />

<div class="card">
    <div class="card-body">
        <form action="/Processos/Atividade/@action" method="post">

            <div class="form-group">
                <label asp-for="codigo"></label>
                <input asp-for="codigo" class="form-control" readonly="readonly" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="titulo"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="descricao"></label>
                <textarea rows="10" asp-for="descricao" class="form-control"></textarea>
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="responsavel"></label>
                <input asp-for="responsavel" class="form-control" />
                <span asp-validation-for="responsavel" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="estadoregistro" />

            <input type="hidden" asp-for="processo" />

            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>
</div>