﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md">
        <h3>Incidentes, Problemas e Não conformidades</h3>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Incidentes</h5>
                    <p class="card-text">Incidente ocorrido na produção, como parada de máquina, produto defeituoso, falta de determinado insumo.</p>
                    <a asp-controller="Incidente" asp-action="Index" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Problemas</h5>
                    <p class="card-text">Problema ocorrido na produção podendo provir de um incidente.</p>
                    <a asp-controller="Problema" asp-action="Index" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Não Conformidades</h5>
                    <p class="card-text">Não conformidades ocorridas na avaliação dos checklists.</p>
                    <a asp-controller="NC" asp-action="Index" class="btn btn-primary">Acessar</a>
                </div>
            </div>
        </div>
    </div>
</div>