﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SGQ.Presentation.Site.Areas.Incidentes.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SGQ.Presentation.Site.Areas.Incidentes.Models.ProblemaViewModel

@{
    ViewData["Title"] = "Criar";
    Layout = "_Layout";
    var action = Model.codigo is null ? "Criar" : "Alterar";
}

<h1 class="display-4">Problema</h1>
<p>Problema @Model.codigo</p>

<partial name="_messages" />

<div class="card">
    <div class="card-body">
        <form asp-action="@action" asp-controller="Problema">

            <div class="form-group row col-md-3">
                <label asp-for="codigo"></label>
                <input asp-for="codigo" class="form-control" readonly="readonly" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>

            <div class="form-group  row col-md-3">
                <label asp-for="status"></label>
                <input asp-for="status" class="form-control" readonly="readonly" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="titulo"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="descricao"></label>
                <textarea rows="5" asp-for="descricao" class="form-control"></textarea>
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="estadoRegistro" />

            <hr />

            <div class="form-group">
                <button type="button" class="btn btn-sm btn-primary m-0" data-toggle="modal" data-target="#modalProblemaIncidente"> Adicionar Incidente </button>
            </div>

            <div class="form-group">
                <table class="table table-sm table-stripped table-hover table-bordered" id="tbl-incidentes">
                    <thead>
                        <tr>
                            <th>Incidente</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        @for (int i = 0; i < Model.incidentes.Count; i++)
                        {
                        <tr>
                            <td>@Model.incidentes[i].codigo  @Html.HiddenFor(model => Model.incidentes[i].codigo) </td>
                            <td width="45" class="text-center">
                                <a style="width: 40px;" data-toggle="tooltip" data-placement="left" title="Excluir" onclick="">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>
                            </td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>
</div>

@if (Model.codigo != null)
{
    <div class="card mt-4">
        <div class="card-body">
            <form asp-area="Incidentes" asp-controller="Problema" asp-action="Resolver" method="post">

                <input type="hidden" asp-for="codigo" />

                <div class="form-group">
                    <label asp-for="solucao"></label>
                    <textarea rows="5" asp-for="solucao" class="form-control" readonly="@(Model.codigo is null)"></textarea>
                    <span asp-validation-for="solucao" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Resolver problema</button>

            </form>
        </div>
    </div>
}


<!-- Modal -->
<div class="modal fade" id="modalProblemaIncidente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> Incidentes: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p> Incidentes cadastrados no sistema: </p>
                <div class="form-group">
                    <label>Incidentes</label>
                    <select class="form-control-sm" id="lista-incidentes" asp-items="@ViewBag.Incidentes">
                        <option value="">SELECIONE</option>
                    </select>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button id="btn-lista-incidentes-ok" type="submit" class="btn btn-primary">Adicionar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->

<script type="text/javascript">

    window.onload = function () {
        document.getElementById('btn-lista-incidentes-ok').onclick = function (sender) {
            var selectValue = document.getElementById('lista-incidentes').value;
            var tblIncidentes = document.getElementById('tbl-incidentes').getElementsByTagName('tbody')[0];
            var length = (document.querySelectorAll('#tbl-incidentes tbody tr').length);

            var row = tblIncidentes.insertRow(length);
            var cell1 = row.insertCell(0);
            var cell2 = row.insertCell(1);
            cell1.innerHTML = `${selectValue} <input type="hidden" name="incidentes[${length}].codigo" value="${selectValue}" />`;
            cell2.innerHTML = `<a style="width: 40px;" data-toggle="tooltip" data-placement="left" title="Excluir"><i class="fa fa-trash-o" aria-hidden="true"></i></a>`;

        };
    };

</script>
