﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SGQ.Presentation.Site.Controllers;
@using Newtonsoft.Json
@if (!(TempData["Messages"] is null))
{
    var items = JsonConvert.DeserializeObject<List<dynamic>>(TempData["Messages"].ToString());
    var icone = "";
    foreach (var item in items)
    {
        switch (item["type"].ToString())
        {
            case "success": icone = "fa-check-circle"; break;
            case "danger": icone = "fa-times-circle"; break;
            case "info": icone = "fa-info-circle"; break;
            case "warning": icone = "fa-exclamation-triangle"; break;
            default:
                icone = "fa-check-circle"; break;
        }

        <div class="alert alert-@item.type alert-dismissible fade show" role="alert">
            <strong> <i class="fa @icone mr-2" aria-hidden="true"></i> </strong> @item.message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}

@if (!(TempData["ModalMessages"] is null))
{
    var items = JsonConvert.DeserializeObject<List<dynamic>>(TempData["ModalMessages"].ToString());
    foreach (var item in items)
    {
        <div class="modal fade" id="modalMessage" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h3 class="text-@item.type.ToString().ToUpper()">@item.message</h3>
                        <p>@item.submessage</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript"> $(document).ready(function() {  $('#modalMessage').modal('show')  }); </script>
    }
}


