﻿@using System.Security.Claims
@using Microsoft.AspNetCore.Http
@using Microsoft.CodeAnalysis
@addTagHelper *, DNTBreadCrumb.Core
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    var user = this.User.FindFirstValue(ClaimTypes.Name);
}


<nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom mb-0">
    <div class="navbar-brand" onclick="prompt('Token', token.Data.token)">SGQ</div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active"> <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a> </li>

            @if (user != null)
            {
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Incidentes
                    </span>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="Incidentes" asp-controller="Incidente" asp-action="Index">Incidentes</a>
                        <a class="dropdown-item" asp-area="Incidentes" asp-controller="Problema" asp-action="Index">Problemas</a>
                        <a class="dropdown-item" asp-area="Incidentes" asp-controller="NC" asp-action="Index"> Não Conformidades</a>
                    </div>
                </li>
            }

            @if (user != null)
            {
                <li class="nav-item dropdown">
                    <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Processos
                    </span>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" asp-area="Processos" asp-controller="Processo" asp-action="Index">Processos</a>
                    </div>
                </li>
            }

            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Transparência
                </span>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    @if (user is null)
                    {
                        <a class="dropdown-item" asp-area="Transparencia" asp-controller="Post" asp-action="Listar">Lista de Postagens</a>
                    }
                    else
                    {
                        <a class="dropdown-item" asp-area="Transparencia" asp-controller="Post" asp-action="Listar">Lista de Postagens</a>
                        <a class="dropdown-item" asp-area="Transparencia" asp-controller="Post" asp-action="Index">Postagem</a>
                    }
                </div>
            </li>

        </ul>



        <div class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-user-circle" aria-hidden="true"></i> @( @user ?? "Login" )
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        @if (user is null)
                        {
                            <a class="dropdown-item" asp-area="Seguranca" asp-controller="Autenticacao" asp-action="Login">Login</a>
                        }
                        else
                        {
                            <a class="dropdown-item" asp-area="Seguranca" asp-controller="Autenticacao" asp-action="Perfil">Perfil</a>
                            <a class="dropdown-item" asp-area="Seguranca" asp-controller="Autenticacao" asp-action="Logout">Logout</a>
                        }
                    </div>
                </li>
            </ul>
        </div>
        <div class="form-inline my-2 my-lg-0 ml-3">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" style="">
                    <a href="/Transparencia/Post/Feeds/feed.xml" style="color: orange !important;font-size: 18px;" title="rss">
                        <i class="fa fa-rss-square" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav>

    <breadcrumb asp-homepage-title="Home"
                class="breadcrumb shadow-sm p-3 mb-3 bg-light"
                asp-homepage-url="@Url.Action("Index", "Home", values: new { area = "" })"
                asp-bootstrap-version="V4"
                asp-homepage-glyphicon="fa fa-home"></breadcrumb>
</nav>