﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SGQ.Presentation.Site.Areas.Incidentes.Models.IncidenteViewModel

@{
    ViewData["Title"] = "Criar";
    Layout = "_Layout";
    var acao = Model.codigo is null ? "Criar" : "Alterar";
}

<h1 class="display-4">Incidente</h1>
<p>Incidente @Model.codigo</p>

<partial name="_messages" />

<div class="card">
    <div class="card-body">
        <form asp-area="Incidentes" asp-controller="Incidente" asp-action="@acao" method="post">

            <div class="form-group">
                <label asp-for="codigo"></label>
                <input asp-for="codigo" class="form-control" readonly="readonly" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="status"></label>
                <input asp-for="status" class="form-control" readonly="readonly" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="titulo"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="descricao"></label>
                <textarea  rows="5" asp-for="descricao" class="form-control"></textarea>
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="estadoRegistro" />

            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>
</div>

@if (Model.codigo != null)
{
    <div class="card mt-4">
        <div class="card-body">
            <form asp-area="Incidentes" asp-controller="Incidente" asp-action="FecharIncidente" method="post">

                <input type="hidden" asp-for="codigo"/>

                <div class="form-group">
                    <label asp-for="solucao"></label>
                    <textarea rows="5" asp-for="solucao" class="form-control" readonly="@(Model.codigo is null)"></textarea>
                    <span asp-validation-for="solucao" class="text-danger"></span>
                </div>


                <button type="submit" class="btn btn-primary">Fechar Incidente</button>

            </form>
        </div>
    </div>
}





