﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SGQ.Presentation.Site.Areas.Incidentes.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SGQ.Presentation.Site.Areas.Incidentes.Models.IndexIncidentesViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var sumarizado = (IEnumerable<SumarizadoViewModel>) ViewBag.sumarizado;
}

<h1 class="display-4">Incidentes</h1>
<p>Lista de Incidentes</p>

<partial name="_messages" />

<div class="row">
    <div class="col-md-2">
        <div class="card text-white bg-danger mb-3">
            <div class="card-header">Incidentes abertos</div>
            <div class="card-body">
                <h3 class="card-title">@( sumarizado.FirstOrDefault(x => x.status == "Aberto")?.count) Incidente(s)</h3>
            </div>
        </div>
    </div>
    <div class="col-md-2">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Incidentes fechados</div>
            <div class="card-body">
                <h3 class="card-title">@( sumarizado.FirstOrDefault(x => x.status == "Fechado")?.count) Incidente(s)</h3>
            </div>
        </div>
    </div>
</div>


<div class="card col-md-12" style="background:#f5f5dc">
    <div class="card-block">
        <p class="ml-3 mt-3">Pesquisar por Incidente</p>
        <div class="card-body m-0 p-0">
            <form asp-area="Incidentes" asp-controller="Incidente" asp-action="Index" method="post">

                <div class="col-md-12">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <input asp-for="Filtro.codigo" class="form-control form-control-sm" placeholder="Codigo" />
                            <span asp-validation-for="Filtro.codigo" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <input asp-for="Filtro.titulo" class="form-control form-control-sm" placeholder="Título" />
                            <span asp-validation-for="Filtro.titulo" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-3">
                            <input asp-for="Filtro.status" class="form-control form-control-sm" placeholder="Status" />
                            <span asp-validation-for="Filtro.status" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <button type="submit" class="btn btn-sm btn-primary"> Filtrar registros</button>
                        </div>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>
<div class="card mt-3 rounded-0 shadow-sm">
    <div class="card-header text-right">
        <a class="btn btn-sm btn-primary" asp-area="Incidentes" asp-action="Criar" asp-controller="Incidente"> Criar Incidente </a>
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered table-striped rounded-0 mb-0">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Titulo</th>
                    <th>Descrição</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Lista.Any() == false)
                {
                    <tr>
                        <td colspan="5"> Nenhum item encontrado. </td>
                    </tr>
                }

                @foreach (var item in Model.Lista)
                {
                    <tr>
                        <td width="50"> <span title="@item.codigo"> @item.codigo </span> </td>
                        <td>@item.titulo</td>
                        <td>@item.descricao</td>
                        <td width="100">@item.status</td>
                        <td width="100">
                            <div class="btn-group text-center" role="group">

                                <a style="width: 40px;" data-toggle="tooltip" data-placement="left" title="Alterar" asp-area="Incidentes" asp-controller="Incidente" asp-action="Alterar" asp-route-codigo="@item.codigo">
                                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                </a>
                                <a style="width: 40px;" data-toggle="tooltip" data-placement="left" title="Excluir" onclick="if (confirm('Deseja realmente excluir o registro?')) window.location='/Incidentes/Incidente/Excluir/@item.codigo';">
                                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                                </a>

                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
        (@Model.Lista.Count) Registros encontrados
    </div>
</div>
