﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@using SGQ.Presentation.Site.Areas.Transparencia.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PostViewModel

@{
    ViewData["Title"] = "Criar";
    Layout = "_Layout";
    var action = Model.codigo is null ? "Criar" : "Alterar";
}

<h1 class="display-4">Postagem</h1>
<p>Postagem no portal de transparência</p>

<partial name="_messages" />

<div class="card">
    <div class="card-body">
        <form asp-area="Transparencia" asp-controller="Post" asp-action="@action">
            <div class="form-group">
                <label asp-for="codigo"></label>
                <input asp-for="codigo" class="form-control" readonly="readonly" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="titulo"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="descricao"></label>
                <textarea rows="10" asp-for="descricao" class="form-control"></textarea>
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="conteudo"></label>
                <input asp-for="conteudo" class="form-control" />
                <span asp-validation-for="conteudo" class="text-danger"></span>
            </div>

            <div class="form-group d-flex align-items-center">
                <label for="publico"><input type="checkbox" asp-for="publico" class="" /> Tornar postagem pública</label>
                <span asp-validation-for="publico" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>
</div>