﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using SGQ.Presentation.Site.Areas.Transparencia.Models
@model List<PostViewModel>
@{
    ViewData["Title"] = "Visualizar";
    Layout = "_Layout";
}

<h1 class="display-4">Postagens</h1>
<p>Lista de postagens</p>

<partial name="_messages" />

<div class="card mt-3 rounded-0 shadow-sm">
    <div class="card-header text-right">
        
    </div>
    <div class="table-responsive">
        <table class="table table-sm table-hover table-bordered table-striped rounded-0 mb-0">
            <thead>
                <tr>
                    <th>Codigo</th>
                    <th>Titulo</th>
                    <th class="text-center" width="120">Publico</th>
                </tr>
            </thead>
            <tbody>

                @if (Model.Any() == false)
                {
                    <tr>
                        <td colspan="5"> Nenhum item encontrado. </td>
                    </tr>
                }

                @foreach (var item in Model)
                {
                    <tr>
                        <td width="150"> <span title="@item.codigo"> @item.codigo </span> </td>
                        <td> <a asp-controller="Post" asp-area="Transparencia" asp-action="Visualizar" asp-route-codigo="@item.codigo" >  @item.titulo </a></td>
                        <td class="text-center">@(item.publico == true ? "SIM" : "NÃO")</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer text-muted">
        (@Model.Count) Registros encontrados
    </div>
</div>
