﻿@using SGQ.Presentation.Site.Areas.Transparencia.Models
@model PostViewModel
@{
    ViewData["Title"] = "Visualizar";
    Layout = "_Layout";
}

<h1 class="display-4">@Model.titulo</h1>
<p>@Model.descricao</p>

<div class="card">
    <div class="card-body">
        
        @Model.conteudo

    </div>
</div>
