﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SGQ.Presentation.Site.Areas.Incidentes.Models.NCViewModel

@{
    ViewData["Title"] = "Criar";
    Layout = "_Layout";
    var action = Model.codigo is null ? "Criar" : "Alterar";
}

<h1 class="display-4">Não Conformidade</h1>
<p>Incidente @Model.codigo</p>

<div class="card">
    <div class="card-body">
        <form action="/Incidentes/NC/@action" method="post">

            <div class="form-group row col-md-3">
                <label asp-for="codigo"></label>
                <input asp-for="codigo" class="form-control" readonly="readonly" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>

            <div class="form-group row col-md-3">
                <label asp-for="status"></label>
                <input asp-for="status" class="form-control" readonly="readonly" />
                <span asp-validation-for="status" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="titulo"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="descricao"></label>
                <textarea rows="5" asp-for="descricao" class="form-control"></textarea>
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>

            <div class="form-group row col-md-3">
                <label asp-for="norma"></label>
                <input asp-for="norma" class="form-control" />
                <span asp-validation-for="norma" class="text-danger"></span>
            </div>

            <div class="form-group row col-md-3">
                <label asp-for="processo"></label>
                <input asp-for="processo" class="form-control" />
                <span asp-validation-for="processo" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="estadoRegistro" />
            <input type="hidden" asp-for="fechadopor" />
            <input type="hidden" asp-for="fechadoem" />

            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>
</div>

@if (string.IsNullOrWhiteSpace(Model.codigo) == false)
{
    <div class="card mt-3">
        <div class="card-body">
            <form action="/Incidentes/NC/Fechar/@Model.codigo" method="post">

                <div class="form-group">
                    <label asp-for="acoescorretivas"></label>
                    <textarea rows="5" asp-for="acoescorretivas" class="form-control"></textarea>
                    <span asp-validation-for="acoescorretivas" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="acoespreventivas"></label>
                    <textarea rows="5" asp-for="acoespreventivas" class="form-control"></textarea>
                    <span asp-validation-for="acoespreventivas" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="estadoRegistro" />
                <input type="hidden" asp-for="fechadopor" />
                <input type="hidden" asp-for="fechadoem" />

                <button type="submit" class="btn btn-primary">Fechar não conformidade</button>

            </form>
        </div>
    </div>
}




