﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SGQ.Presentation.Site.Areas.Processos.Models.ProcessoViewModel

@{
    ViewData["Title"] = "Criar";
    Layout = "_Layout";
    var action = Model.codigo is null ? "Criar" : "Alterar";
}

<h1 class="display-4">Processo</h1>
<p>Incidente @Model.codigo</p>

<partial name="_messages" />

<div class="card">
    <div class="card-body">
        <form asp-area="Processos" asp-action="@action" asp-controller="Processo">

            <div class="form-group">
                <label asp-for="codigo"></label>
                <input asp-for="codigo" class="form-control" readonly="readonly" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="organismo"></label>
                <input asp-for="organismo" class="form-control" />
                <span asp-validation-for="organismo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="norma"></label>
                <input asp-for="norma" class="form-control" />
                <span asp-validation-for="norma" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="titulo"></label>
                <input asp-for="titulo" class="form-control" />
                <span asp-validation-for="titulo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="descricao"></label>
                <textarea rows="5" asp-for="descricao" class="form-control"></textarea>
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>

            <input type="hidden" asp-for="estadoregistro" />

            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>
</div>
<hr />

@if (string.IsNullOrEmpty(Model.codigo) == false)
{

    <!-- Atividades -->
    <div class="card mt-3 rounded-0">
        <div class="card-header">
            <h5 class="m-0 p-0 mt-1 float-left">Atividades</h5>
        </div>
        <div class="table-responsive">
            <nav class="navbar bg-light justify-content-end">
                <span class="float-lg-right">
                    <a class="btn btn-sm btn-primary m-0" asp-area="Processos" asp-controller="Atividade" asp-action="Criar" asp-route-codigo="@Model.codigo">Adicionar Atividade</a>
                </span>
            </nav>
            <table class="table table-sm table-hover table-bordered table-striped rounded-0 mb-0">
                <thead>
                    <tr>
                        <th width="150">Codigo</th>
                        <th>Titulo</th>
                        <th>Descrição</th>
                        <th>Responsavel</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.atividades.Any() == false)
                    {
                        <tr>
                            <td colspan="5"> Nenhum item encontrado. </td>
                        </tr>
                    }

                    @foreach (var item in Model.atividades)
                    {
                        <tr>
                            <td width="260"> <span title="@item.codigo"> @item.codigo </span> </td>
                            <td>@item.titulo</td>
                            <td>@item.descricao</td>
                            <td>@item.responsavel</td>
                            <td width="100">
                                <div class="btn-group text-center" role="group">
                                    <a style="width: 40px;" data-toggle="tooltip" data-placement="top" title="Alterar" asp-controller="Atividade" asp-action="Alterar" asp-route-codigo="@(item.codigo + "_" + Model.codigo)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a style="width: 40px;" data-toggle="tooltip" data-placement="top" title="Excluir" onclick="if (confirm('Deseja realmente excluir o registro?')) window.location = '/Incidentes/Processo/Excluir/@item.codigo';">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            (@Model.atividades.Count()) Registros encontrados
        </div>
    </div>
    <!-- Atividades -->
    <hr />
    <!-- Perguntas -->
    <div class="card mt-3 rounded-0">
        <div class="card-header">
            <h5 class="m-0 p-0 mt-1 float-left">Perguntas</h5>

        </div>
        <div class="table-responsive">
            <nav class="navbar bg-light justify-content-end">
                <span class="float-lg-right">
                    <a class="btn btn-sm btn-primary m-0" asp-area="Processos" asp-controller="Pergunta" asp-action="Criar" asp-route-codigo="@Model.codigo">Adicionar Pergunta</a>
                </span>
            </nav>
            <table class="table table-sm table-hover table-bordered table-striped rounded-0 mb-0">
                <thead>
                    <tr>
                        <th width="260">Codigo</th>
                        <th>Pergunta</th>
                        <th>Resposta Esperada</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @if (Model.perguntasChecklist.Any() == false)
                    {
                        <tr>
                            <td colspan="5"> Nenhum item encontrado. </td>
                        </tr>
                    }

                    @foreach (var item in Model.perguntasChecklist)
                    {
                        <tr>
                            <td width="50"> <span title="@item.codigo"> @item.codigo </span> </td>
                            <td>@item.pergunta</td>
                            <td>@item.resposta_esperada</td>
                            <td width="100">
                                <div class="btn-group text-center" role="group">

                                    <a style="width: 40px;" data-toggle="tooltip" data-placement="top" title="Alterar" asp-controller="Pergunta" asp-action="Alterar" asp-route-codigo="@(item.codigo + "_" + Model.codigo)">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a style="width: 40px;" data-toggle="tooltip" data-placement="top" title="Excluir" onclick="if (confirm('Deseja realmente excluir o registro?')) window.location = '/Incidentes/Processo/Excluir/@item.codigo';">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>

                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer text-muted">
            (@Model.perguntasChecklist.Count()) Registros encontrados
        </div>
    </div>
    <!-- Perguntas -->
    <hr />
    <!-- Respostas -->
    <div class="card mt-3 rounded-0">
        <div class="card-header">
            <h5 class="m-0 p-0 mt-1 float-left"> <a data-toggle="collapse" href="#test-block" aria-expanded="true" aria-controls="test-block">Respostas</a> </h5>
        </div>
        <div class="table-responsive" id="test-block" class="collapse">
            <nav class="container-fluid bg-light">
                <div class="row p-2">
                    <div class="col-md">
                        <button type="button" class="btn btn-sm btn-primary m-0" data-toggle="modal" data-target="#modalFiltrarRespostas"> Filtrar </button>
                    </div>
                    <div class="col-md text-right">
                        <button type="button" class="btn btn-sm btn-primary m-0" data-toggle="modal" data-target="#modalChecklist"> Gerar Questionários </button>
                        
                        @*<a class="btn btn-sm btn-primary m-0" asp-area="Processos" asp-controller="Resposta" asp-action="Criar" asp-route-codigo="@Model.codigo">Adicionar Pergunta</a>*@
                    </div>
                </div>
            </nav>
            <div class="tbl-resposta-content">
                <partial name="../Resposta/_ListaRespostas" model="Model.respostasChecklist" />
            </div>
        </div>
        <div class="card-footer text-muted">
            (@Model.respostasChecklist.Count()) Registros encontrados
        </div>
    </div>
    <!-- Respostas -->


    <!-- Modal -->
    <div class="modal fade" id="modalChecklist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form class="form-horizontal" action="/Processos/Resposta/FormularQuestionario" method="POST">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"> Gerar Questinário: </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">

                        <p> Gera o questionário de perguntas que agrupado por grupo e turno:</p>
                        <input type="hidden" name="processo" value="@Model.codigo" />
                        <div class="form-group">
                            <label for="grupo">Agrupamento de Perguntas</label>
                            <input type="text" name="grupo" id="grupo" value="" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="turno">Turno</label>
                            <select class="form-control form-control-sm" name="turno" id="turno">
                                <option value="">SELECIONE</option>
                                <option value="Matutino">Matutino</option>
                                <option value="Vespertino">Vespertino</option>
                                <option value="Noturno">Noturno</option>
                            </select>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Gerar Questionário Checklist</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <!-- Modal -->
    <div class="modal fade" id="modalFecharChecklist" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Fechar Questinário: </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p> Selecione o Grupo e o Turno que deseja fechar:</p>

                    <div class="form-group">
                        <label>Grupo de Perguntas</label>
                        <select class="form-control" asp-items="@ViewBag.Grupos">
                            <option value="">SELECIONE</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Turno</label>
                        <select class="form-control" asp-items="@ViewBag.Turnos">
                            <option value="">SELECIONE</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary">Gerar Questionário Checklist</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <!-- Modal -->
    <div class="modal fade" id="modalFiltrarRespostas" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"> Filtrar Questinário: </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <p> Selecione o Grupo e o Turno que deseja fechar:</p>

                    <div class="form-group">
                        <label>Grupo de Perguntas</label>
                        <select class="form-control" id="filtrar-grupo" asp-items="@ViewBag.Grupos">
                            <option value="">SELECIONE</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Turno</label>
                        <select class="form-control" id="filtrar-turno" asp-items="@ViewBag.Turnos">
                            <option value="">SELECIONE</option>
                        </select>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" id="btn-filtrar-click" data-dismiss="modal">Filtrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->

    <script type="text/javascript">
        $(document).ready(function() {
            $('.collapse').collapse()

            $('#btn-filtrar-click').click(function () {
                var filtrarGrupo = $('#filtrar-grupo').val();
                var filtrarTurno = $('#filtrar-turno').val();
                $.get(`https://localhost:5001/Processos/Resposta/FiltrarRespostas?processo=@Model.codigo&turno=${filtrarTurno}&grupo=${filtrarGrupo}`,
                    function(data) {
                        $('.tbl-resposta-content').html(data);
                    });
            });

        });
    </script>
}