﻿@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="row d-flex align-items-center">
        <form class="col-12">
            <div class="text-center">
                <h1 class="display-4">Sejam bem-vindos!</h1>
                <p>SGQ - Sistema de Gestão da Qualidade dos processos na Indústria Automotiva</p>
            </div>

        </form>   
    </div>
</div> 