﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SGQ.Presentation.Site.Areas.Processos.Models.RespostaViewModel>
@{
    var index = 0;
}
<form asp-area="Processos" asp-controller="Resposta" asp-action="ResponderQuestionario">
    <table id="tbl-respostas" class="table table-sm table-hover table-bordered table-striped rounded-0 mb-0">
        <thead>
            <tr>
                <th width="150">Codigo</th>
                <th width="100">Grupo</th>
                <th width="100">Turno</th>
                <th>Pergunta</th>
                <th>Resposta Esperada</th>
                <th colspan="3">Resposta</th>
                <th></th>
            </tr>
        </thead>
        <tbody>


            <input type="hidden" name="Processo" value="@Model.FirstOrDefault()?.processo" />

            @if (Model.Any() == false)
            {
                <tr>
                    <td colspan="6"> Nenhum item encontrado. </td>
                </tr>
            }


            @foreach (var item in Model)
            {
                <tr>
                    <td width="50"> <span title="@item.codigo"> @item.codigo </span> <input type="hidden" name="respostas[@index].codigo" value="@item.codigo" /> </td>
                    <td>@item.grupo <input type="hidden" name="respostas[@index].grupo" value="@item.grupo" /> </td>
                    <td>@item.turno <input type="hidden" name="respostas[@index].turno" value="@item.turno" /> </td>
                    <td>@item.pergunta</td>
                    <td><span class="text-info">(@item.resposta_esperada)</span> </td>
                    <td width="70">

                        @if (string.IsNullOrEmpty(item.resposta))
                        {
                            <label><input type="radio" name="respostas[@index].resposta" value="C" /> <strong>C</strong></label>
                        }

                    </td>
                    <td width="70">

                        @if (string.IsNullOrEmpty(item.resposta))
                        {
                            <label><input type="radio" name="respostas[@index].resposta" value="NC" /> <strong>NC</strong></label>
                        }
                            <strong>@item.resposta</strong>
                    </td>
                    <td width="70">

                        @if (string.IsNullOrEmpty(item.resposta))
                        {
                            <label><input type="radio" name="respostas[@index].resposta" value="NA" /> <strong>NA</strong></label>
                        }

                    </td>

                    <td width="100">
                        <div class="btn-group text-center" role="group">

                            <a style="width: 40px;" data-toggle="tooltip" data-placement="top" title="Alterar" asp-area="Processos" asp-controller="Resposta" asp-action="Alterar" asp-route-codigo="@(item.codigo + "_" + item.processo)">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </a>
                            <a style="width: 40px;" data-toggle="tooltip" data-placement="top" title="Excluir" onclick="if (confirm('Deseja realmente excluir o registro?')) window.location = '/Incidentes/Processo/Excluir/@item.codigo';">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>

                        </div>
                    </td>
                </tr>
                index++;
            }
            @if (Model.Any())
            {
                <tr>
                    <td colspan="9" class="text-right">
                        @*<button type="button" class="btn btn-sm btn-danger m-0" data-toggle="modal" data-target="#modalFecharChecklist"> Fechar Questionário </button>*@
                        <button type="submit" class="btn btn-sm btn-danger m-0"> Fechar Questionário </button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</form>