﻿@using Microsoft.AspNetCore.Mvc.ModelBinding
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SGQ.Presentation.Site.Areas.Processos.Models.RespostaViewModel

@{
    ViewData["Title"] = "Criar";
    Layout = "_Layout";
    var action = Model.codigo is null ? "Criar" : "Alterar";
}

<h1 class="display-4">Resposta</h1>
<p>Respostas referente ao processo @Model.processo</p>

<partial name="_messages" />

<div class="card">
    <div class="card-body">
        <form action="/Processos/Resposta/@action" method="post">

            <div class="form-group">
                <label asp-for="codigo"></label>
                <input asp-for="codigo" class="form-control" readonly="readonly" />
                <span asp-validation-for="codigo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="grupo"></label>
                <input asp-for="grupo" class="form-control" readonly="readonly" />
                <span asp-validation-for="grupo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="turno"></label>
                <input asp-for="turno" class="form-control" readonly="readonly" />
                <span asp-validation-for="turno" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="pergunta"></label>
                <input asp-for="pergunta" class="form-control" readonly="readonly" />
                <span asp-validation-for="pergunta" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="resposta_esperada"></label>
                <input asp-for="resposta_esperada" class="form-control" readonly="readonly" />
                <span asp-validation-for="resposta_esperada" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="resposta"></label>
                <select asp-for="resposta" class="form-control">
                    <option value=""> SELECIONE </option>
                    <option value="CONFORME"> CONFORME </option>
                    <option value="NAO CONFORME"> NAO CONFORME </option>
                    <option value="NAO SE APLICA"> NAO SE APLICA </option>
                </select>
                <span asp-validation-for="resposta" class="text-danger"></span>
            </div>


            <input type="hidden" asp-for="estadoregistro" />

            <input type="hidden" asp-for="processo" />

            <button type="submit" class="btn btn-primary">Salvar</button>

        </form>
    </div>
</div>